.combined-hint {
  width: 100%;
}

.potential-words {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.potential-word {
  display: flex;
  gap: calc(var(--grid) / 4);
}

.letter-block {
  --size: calc(var(--grid) * 3);
  align-items: center;
  background: var(--primary-surface-color);
  border-radius: var(--grid);
  display: flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
}

.letter-block.starting-letter {
  background: var(--primary-accent-color);
  color: var(--primary-on-accent-color);
}

.letter-block.middle-letter {
  background: var(--secondary-accent-color);
}
