:root {
  --heading-font-family: 'Borel', cursive;
  --body-font-family: 'Montserrat', sans-serif;
}

body {
  font: 18px var(--body-font-family);
  line-height: calc(var(--grid) * 4);
}

h1 {
  font: 400 48px var(--heading-font-family);
  margin: 0;
}
