.potential-word-hints {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.potential-word-hints label {
  margin: 0;
  padding: 0;
}

.potential-words {
  display: flex;
  flex-direction: column;
  gap: var(--grid);
  margin-bottom: calc(var(--grid) * 3);
}

.potential-word {
  display: flex;
  gap: calc(var(--grid) / 4);
}

.letter-block {
  --size: calc(var(--grid) * 3);
  align-items: center;
  background: var(--primary-surface-color);
  border-radius: var(--grid);
  display: flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
}

.letter-block.starting-letter {
  background: var(--primary-accent-color);
  color: var(--primary-on-accent-color);
}

.letter-block.middle-letter {
  background: var(--secondary-accent-color);
}
